*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/markdown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/media/
tools/ts_pmt_monitor/build/
tools/ts_synth_gen/build/
tools/ts_index_builder/build/
/gradle/gradle-daemon-jvm.properties
